<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="js/functions.js" defer></script>
    <script src="js/script.js" defer></script>

    <title>Vue To Do List</title>

</head>

<body>

    <header>
        <h1>TO DO LIST</h1>

        <div class="buttons">
            <button id="sub" title="Premi per iscriverti" class="btn-classic">Iscriviti</button>
            <button id="login-btn" title="Premi per accedere" class="btn-classic">Accedi</button>
        </div>

    </header>
    <div class="container">
        <aside>
            <section id="doneAct-section">
                <h2>Attività Concluse</h2>
                <div id="done-act">
                    <p></p>
                </div>
            </section>
        </aside>


        <main>
            <div class="toDo-container">
                <div id="toDo-act" v-for="(elements, index) in todoList">
                    <p id="name-toDo"><i class="fa-solid fa-square-check"></i> {{elements.name}}</p>
                </div>

                <div id="add-act">
                    <button id="open-source-btn" @click="openInputs()"><i class="fa-solid fa-square-plus"></i></button>

                    <div id="inputs-container">
                        <h2>Aggiungi un'attività</h2>
                        <label for="text-act">Nome attività</label>
                        <input type="text" id="text-act" v-model="newToDo">

                        <button type="submit" class="btn-classic" @click="addToDoItem()">Add</button>

                    </div>
                </div>
            </div>


        </main>



    </div>
</body>

</html>



<!-- <i class="fa-solid fa-square-check"></i> -->
<!-- <i class="fa-solid fa-square-xmark"></i> -->